<footer class="bg-dark footer-one">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 p-b-40">
                <h4 class="text-white">UPLON</h4>
                <p class="text-light about-text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC,making it over 2000 years old.</p>

                <p class="text-light about-text">Nunc nec dui vitae urna cursus lacinia. In venenatis egetjusto in dictum.</p>
            </div>

            <div class="col-md-2 col-sm-6">
                <h5>Company</h5>
                <ul class="list-unstyled">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Features</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Services</a></li>
                </ul>
            </div>

            <div class="col-md-2 col-sm-6 p-b-40">
                <h5>Support</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Help &amp; Support</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms &amp; Conditions</a></li>
                </ul>
            </div>

            <div class="col-md-4">
                <div>
                    <h5>Contact us</h5>
                    <ul class="list-unstyled">
                        <li><strong class="font-secondary font-14">Address:</strong> 795 Folsom Ave, Suite 600 CA 94107</li>
                        <li><strong class="font-secondary font-14">Phone:</strong> (123) 456-7890, 123-4567 89 </li>
                        <li><strong class="font-secondary font-14">Email:</strong> <a href="mailto:first.last@example.com">first.last@example.com</a></li>
                    </ul>
                </div>
            </div>

        </div> <!-- end row -->
    </div>
    <!-- end container -->

    <div class="footer-one-alt">
        <div class="container">
            <div class="row">
                <div class="col-sm-5">
                    <p class="m-b-0 font-13 copyright">© 2016 Uplon. Design by Coderthemes</p>
                </div>
                <div class="col-sm-7">
                    <ul class="list-inline footer-social-one m-b-0 pull-right">
                        <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                        <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                        <li><a href="#"><i class="ion-social-linkedin"></i></a></li>
                        <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>