<h3>Hi {{ user.username }}!</h3>

<h4>Did you forget password?</h4>

<p><a href="{{ url('admin_reset_password', {'token' : token}) }}">Reset Password</a></p>
<br/>
<br/>
<p>Thanks
<br/>
Portalen Team
</p>