<h3>Hi {{ user.username }}</h3>

<h4>Your account login credentials has been changed.</h4>

<p>These are your login credentials :-</p>
<p>Link :- <a href="{{ url('admin_login') }}">Portalen</a>
<br/>
Username :- {{ user.username }}
<br/>
Password :- {{ password }}
</p>
<br/>
<br/>
Thanks!
Portalen Team